<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CCS Link -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Javascript Link -->
    <script src="/js/index.js"></script>

    <title>Kurt Knosala Portfolio</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Me</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/recomendations">Recomendations</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>