<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Main CCS Link -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- Index CSS Link -->
    <link rel="stylesheet" href="/styles/index.css">
    <!-- Portfolio CSS Link -->
    <link rel="stylesheet" href="/styles/portfolio.css" <!-- Contact CSS Link -->
    <link rel="stylesheet" href="/styles/contact.css" <!-- JQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Javascript Link -->
    <script src="/js/index.js"></script>

    <title>Kurt Knosala Portfolio</title>
</head>

<body>
    <div class="header">
        <h1 id="header-name">Kurt Knosala</h1>
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact Me</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
            </ul>
        </nav>
    </div>
    {{{body}}}
</body>

</html>