<div class="contact-container">
  <div class="contact-display">
    <h2>Contact Me</h2>
    <hr />
    <form>
      <div class="form-group">
        <label for="contact-name">Name</label><br />
        <input type="text" class="form-control" id="contact-name" placeholder="First and Last Name" required />
      </div>
      <div class="form-group">
        <label for="contact-email">Email address</label><br />
        <input type="email" class="form-control" id="contact-email" placeholder="name@example.com" required />
      </div>
      <div class="form-group">
        <label for="contact-message">Message</label><br />
        <textarea class="form-control" id="contact-message" rows="8" placeholder="Please leave a message.."></textarea>
      </div>
      <button type="submit" class="btn btn-submit" id="contact-submit" style="margin-bottom: 15px;">
        Submit
      </button>
    </form>
  </div>
  <div id="myModal" class="modal">
    <div id="submit-modal">
      <p>
        Thank you for reaching out! I will be in contact with you shortly!
      </p>
      <button type="submit" class="btn btn-submit" style="margin-bottom: 15px;" id="modal-close">
        Close
      </button>
    </div>
  </div>
</div>