<div class="index-container">
    <div class="index-main">
        <div class="intro">
            <h1>Kurt Knosala</h1>
            <h2>Web Developer</h2>
        </div>
    </div>
    <div class="index-about">
        <h2>About Me</h2>
        <div class="index-about-grid">
            <div class="about1">
                <h3>Hey</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quia? Ea ex obcaecati suscipit illo impedit blanditiis repudiandae voluptas quasi.</p>
            </div>
            <div class="about2">
                <h3>Ho</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores laudantium suscipit accusantium ex, fugit itaque nihil ratione at eaque. Obcaecati?</p>
            </div>
            <div class="about3">
                <h3>Hi</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, nulla error vel perferendis atque maxime! Similique explicabo pariatur fugiat impedit.</p>
            </div>
        </div>
    </div>
    <div class="index-portfolio">
        <h2>Recent Projects</h2>
        <div class="index-portfolio-display">
            <div>Project 1</div>
            <div>Project 2</div>
            <div>Project 3</div>
            <div>Project 4</div>
        </div>
    </div>
</div>