<div class="index-container">
    <div class="para1">
        <div class="intro">
            <img src="/images/profilepic.jpg" alt="My Picture" id="profile-pic">
            <h1>Kurt Knosala</h1>
            <h2>Web Developer</h2>
        </div>
    </div>
    <div><p>Test</p></div>
    <div class="para2"></div>
    <div><p>Test2</p></div>
    <div class="para3"></div>
</div>