<div class="index-container">
    <div class="index-main">
        <div class="index-intro">
            <h1>Kurt Knosala</h1>
            <h2>Web Developer</h2>
        </div>
    </div>
    <div class="index-about">
        <h2>About Me</h2>
        <div class="index-about-grid">
            <div class="index-about-text">
                <h3>Hey</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, quia? Ea ex obcaecati suscipit illo impedit blanditiis repudiandae voluptas quasi.</p>
            </div>
            <div class="index-about-text">
                <h3>Ho</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores laudantium suscipit accusantium ex, fugit itaque nihil ratione at eaque. Obcaecati?</p>
            </div>
            <div class="index-about-text">
                <h3>Hi</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, nulla error vel perferendis atque maxime! Similique explicabo pariatur fugiat impedit.</p>
            </div>
        </div>
    </div>
    <div class="index-portfolio">
        <h2>Recent Projects</h2>
        <div class="index-portfolio-grid">
            <div class="index-portfolio-item">
                <h3>Store Front App</h3>
                <img src="./images/prod2.png" class="index-port-image">
                <p class="index-port-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique minima explicabo corrupti laudantium vero, in hic nihil harum! Asperiores, consequatur!</p>
                <p><a href="#">Live Version</a></p>
                <p><a href="#">Github</a></p>
            </div>
            <div class="index-portfolio-item">Project 2</div>
            <div class="index-portfolio-item">Project 3</div>
            <div class="index-portfolio-item">Project 4</div>
        </div>
    </div>
</div>