html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
/* ========== Navbar Styling ========== */
#navbar {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    vertical-align: middle;
}

li {
    float: left;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
/* ========== Index Styling ========== */
.intro {
    margin: auto;
    height: auto;
    width: 60%;
    position: relative;
    top: 150px;
    text-align: center;
}

#profile-pic {
    border-radius: 50%;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* Parallax Styling */
.para1, .para2, .para3 {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .para1 {
    background-image: url("/images/para1.jpg");
  }

  .para2 {
    background-image: url("/images/para2.jpg");
  }

  .para3 {
    background-image: url("/images/para3.jpg");
  }