html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
/* ========== Navbar Styling ========== */
#navbar {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    /* transition: top 0.3s;
    z-index: 1; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    vertical-align: middle;
}

li {
    float: left;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
/* ========== Index Styling ========== */
.index-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto, auto;
    grid-template-areas: 
        'intro'
        'about'
        'port';
}
.index-main {
    text-align: center;
    background-color: turquoise;
    height: 100vh;
    grid-area: intro;
}
.index-about {
    background-color: silver;
    grid-area: about;
}
.index-about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* .about1 {
    grid-area: about1;
}
.about2 {
    grid-area: about2;
}
.about3 {
    grid-area: about3;
} */
.index-portfolio {
    background-color: darkkhaki;
    grid-area: port;
    
}
.index-portfolio-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
