html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
a {
    text-decoration: none;
}
/* ========== Navbar Styling ========== */
#navbar {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    vertical-align: middle;
}

li {
    float: left;
    text-align: center;
    font-size: 17px;
    padding: 10px;
}
/* ========== Index Styling ========== */
.index-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto, auto;
    grid-template-areas: 
        'intro'
        'about'
        'port';
}
/* Index Main Styling */
.index-main {
    text-align: center;
    background-color: turquoise;
    height: 100vh;
    grid-area: intro;
}
.index-intro {
    font-size: 300%;
}
/* Index About Stlying */
.index-about {
    background-color: silver;
    grid-area: about;
    height: 400px;
}
.index-about-grid {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}
.index-about-text {
    padding: 20px;
}
/* Index Portfolio Styling */
.index-portfolio {
    background-color: darkkhaki;
    grid-area: port;
    height: 650px;
    text-align: center;
    padding: 10px;
}
.index-portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}
.index-portfolio-item {
    padding: 20px;
}
.index-port-image {
    width: 250px;
}
